@font-face {
  font-family: "Monserrat", sans-serif;
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Monserat", sans-serif;
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf");
}

