.joke-content {
  height: 85%;
  outline: none;
  padding: 16px;
  &__title {
    height: 10%;
    color: $lightBlack !important;
    font-weight: 600;
    text-transform: capitalize;
  }
  &__joke-icon {
    padding-right: 8px;
  }

  &__description {
    height: 50%;
    max-height: 100%;
    color: $lightBlack;
    overflow: auto;

  }
  &__stat-link {
    height: 10%;
    float: right;
    a {
      color: $primaryColor;
      text-decoration: none;
      font-size: 14px;
      font-weight: 600;
      img {
        width: 21px;
        height: 14px;
        padding-left: 8px;
      }
    }
  }
}
